name: "Test: dmd & ldc"

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
    test:
        name: Dub Tests
        strategy:
            matrix:
                os: [ubuntu-latest]
                dc: [dmd-2.091.0, ldc-1.20.1]

        runs-on: ${{ matrix.os }}
        steps:
            - uses: actions/checkout@v2

            - name: Install D compiler
              uses: dlang-community/setup-dlang@v1
              with:
                  compiler: ${{ matrix.dc }}

            - name: Run tests
              run: dub test